<nav class="navbar navbar-default">
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Reservation
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createreservation">Create Reservation</a>
                <a href="/managereservations">Manage Reservations</a>
                <a href="/findsinglereservation">Find Single Reservations</a>
                <a href="/updatereservation">Update Reservation</a>
                <a href="/deletereservation">Delete Reservation</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createcustomer">Create Customer</a>
                <a href="/managecustomers">Manage Customers</a>
                <a href="findsinglecustomer">Find Single Customers</a>
                <a href="/updatecustomer">Update Customer</a>
                <a href="/deletecustomer">Delete Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Motorhome
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createmotorhome">Create Motorhome</a>
                <a href="/managemotorhomes">Manage Motorhomes</a>
                <a href="findesinglemotorhome">Find Single Motorhome</a>
                <a href="/updatemotorhome">Update Motorhome</a>
                <a href="/deletemotorhome">Delete Motorhome</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Accessories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createaccessory">Create Accessory</a>
                <a href="/manageaccessories">Manage Accessories</a>
                <a href="findesingelaccessory">Find Single Accessory</a>
                <a href="/updateaccessery">Update Accessories</a>
                <a href="/deleteaccesory">Delete Accessories</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createinvoice">Create Invoice</a>
                <a href="/manageinvoices">Manage Invoices</a>
                <a href="/findesingleinvoice">Find Single Invoice</a>
                <a href="/updateinvoice">Update Invoice</a>
                <a href="/deleteinvoice">Delete Invoice</a>
            </div>
        </div>
    </div>
</nav>

