<nav class="navbar navbar-default">
    <div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Reservation
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createreservation">Create Reservation</a>
                <a href="/managereservations">Manage Reservations</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createcustomer">Create Customer</a>
                <a href="/managecustomers">Manage Customers</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Motorhome
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createmotorhome">Create Motorhome</a>
                <a href="/managemotorhomes">Manage Motorhomes</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Accessories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createaccessory">Create Accessory</a>
                <a href="/manageaccessories">Manage Accessories</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/createinvoice">Create Invoice</a>
                <a href="/manageinvoices">Manage Invoices</a>

            </div>
        </div>
    </div>
</nav>




