<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>


<div>

<form action="/send-costumer-phone/">
        <label for="id">Indsæt telefonnummer</label>
        <input type="text" id="id" name="id"/><br>
        <input type="submit" value="Submit">Næste</input>
</form>

</div>



</body>
</html>