<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="container">
    <img src="/css/images/background.jpg" alt="bg" style="width:100%;height:100%;background-size: cover">
</div>
<div class="top"><h1>Nordic MotorHome Rental System V.03</h1></div>

</body>
</html>