<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deleteinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

    <Form th:action="@{deleteinvoice}" method="post">
        <br>
        <br>
        <input type="hidden" name="id" th:value="${invoice.invoice_id}"/>
        <p th:text="${invoice.getCustomerName}"></p>
        <p th:text="${invoice.getCustomerId}"></p>
        <input type="submit"value="Delete accessory"/>

    </Form>
</div>
</body>
</html>