<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>


<div>


    <form>

        <label for="phonenumber">Telefon Nummer</label>
        <input type="number" name="phonenumber"/><br>
        <button type="submit" value="phonenumber">Næste</button>
    </form>





</body>
</html>