<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findesingleinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>


    <form th:action="@{/}" method="request">

    <table id="customerDetails">
        <tr>

            <td>
            <td th:text="${invoice.getCustomerId()}">Invoice:</td>
            </td>
            <td th:text="${employee.getPhone()}">Customer ID</td>

            <td th:text="${accessories.getAccessoriesType()}">Customer ID</td>
        </tr>
        <tr>

            <td>Sjælør Boulevard 91</td>
        </tr>
        <tr>
            <td>Postnummer:</td>
            <td>2500</td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>31272948</td>
        </tr>
        <tr>
            <td>e-mail:</td>
            <td>kris79i0@stud.kea.dk</td>
        </tr>
    </table>

</form>



</body>
</html>