<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findesingleinvoice</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<Form th:action="@{/}" method="request">
    <input type="hidden" name="id" th:value="${invoiceId}"/>
    <p th:text="${invoice.invoiceId}"></p>
    <p th:text="${invoice.dateStart}"></p>
    <p th:text="${invoice.dateEnd}"></p>
    <p th:text="${invoice.pickUp}"></p>
    <p th:text="${invoice.pickUp}"></p>
    <p th:text="${invoice.totalPrice}"></p>
    <input type="submit"value="Done"/>

</Form>

</body>
</html>