<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallinvoices</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

<div id="searchFieldInvoice">
    <form action="/search-for-invoice/">
        <label for="id">Søg på telefonnummer</label>
        <input type="text" id="id" name="id"/><br>
        <input type="submit" value="Submit">Næste</input>
    </form>

</div>

<div>
    <table th:if="${invoice != null}">

        <tr th:each="invoice : ${invoice}">
            <td>Reservations ID: </td>
            <td th:text="${invoice.invoiceId}"></td>
            <td>Kunde ID: </td>
            <td th:text="${invoice.getCustomerId()}"></td>
            <td>Start Dato: </td>
            <td th:text="${invoice.dateStart}"></td>
            <td>Slut Dato: </td>
            <td th:text="${invoice.dateEnd}"></td>
            <td>Tilbehørs ID: </td>
            <td th:text="${invoice.getAccessoriesId()}"></td>
            <td>Total Pris: </td>
            <td th:text="${invoice.getTotalPrice()}"></td>
            <td>Reservation Fuldendt: </td>
            <td th:text="${invoice.invoiceDone}"></td>
            <td><a th:href="@{/findsingleinvoice(id=${invoice.invoiceId})}"><button class="btn-create">Details</button></a>
                <a th:href="@{/updateinvoice(id=${invoice.invoiceId})}"><button class="btn-ed">Update</button></a>
                <a th:href="@{/deleteinvoice(id=${invoice.invoiceId})}"><button class="btn-del">Delete</button></a>
            </td>
        </tr>
    </table>





    <form action="/">
        <button>Hjem</button>
    </form>
</div>
</div>
</body>
</html>