<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallinvoices</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<div>
    <table>

        <tr th:each="invoice : ${invoice}">
            <td th:text="${invoice.invoiceId}"></td>
            <td th:text="${invoice.pickUp}"></td>
            <td th:text="${invoice.dropOff}"></td>
            <td th:text="${invoice.totalPrice}"></td>
            <td><a th:href="@{/findsingleinvoice(id=${invoice.invoiceId})}"><button class="btn-create">Details</button></a>
                <a th:href="@{/updateinvoice(id=${invoice.invoiceId})}"><button class="btn-ed">Update</button></a>
                <a th:href="@{/deleteinvoice(id=${invoice.invoiceId})}"><button class="btn-del">Delete</button></a>
            </td>
        </tr>
    </table>
</div>
</html>