<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create motorhome</title>
</head>
<body>
<form class="forms" action="#" th:action="@{/save}" th:object="${motorhome}"
      method="post">
    <label for="fname">licensePlateNo</label>
    <input type="text" th:field="*{licensePlateNo}" name="fname" id="fname" /><br><br>
    <label for="lname">model</label>
    <input type="text" th:field="*{model}" name="lname" id="lname" /><br><br>
    <label for="enroll">beds</label>
    <input type="text" th:field="*{beds}" name="enroll" id="enroll" placeholder='yyyy-mm-dd'/><br><br>
    <label for="fname">accessible</label>
    <input type="text" th:field="*{kilometers}" name="CPR" id="CPR" /><br><br>
    <input type="submit" class="btn-create-form" value="Create">
</form>

</body>
</html>