<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservering</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>

<div class="container">
    <div th:insert="fragments/top_menu">
    </div>
    <h1>Opret Kunde</h1>


        <tr th:each="customer: ${costumerTemp}">
            <td th:text="${customer.getCustomerName}"></td>
            <td th:text="${customer.getAddress}"></td>
            <td th:text="${customer.getZipCode}"></td>
            <td th:text="${customer.getPhone}"></td>
            <td th:text="${customer.getEmail}"></td>
            <td th:text="${customer.getCustomerType}"></td>


        </tr>








</div>
</body>
</html>