<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accessories</title>
</head>
<body>
<div class="container">
    <h1>Customer</h1>

    <table>

        <tr th:each="customers : ${viewCustomers}">
            <td th:text="${customers.getCustomerName()}"></td>
            <td th:text="${customers.getCustomerName()}"></td>
            <td th:text="${customers.getCustomerName()}"></td>
            <td th:text="${customers.getCustomerName()}"></td>

        </tr>



    </table>
</div>
</body>
