<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autocamper</title>
</head>
<body>
<div class="container">
    <h1>MotorHomes</h1>

    <table>

        <tr th:each="motorhome : ${autocamper}">
            <td th:text="${motorhome.getLicensePlateNo()}"></td>
            <td th:text="${motorhome.getModel()}"></td>
            <td th:text="${motorhome.getBeds()}"></td>
            <td th:text="${motorhome.getPrice()}"></td>

        </tr>




    </table>
</div>

</body>
</html>