<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="container">
    <img src="/css/images/background.jpg" alt="bg" style="width:100%;height:100%;background-size: cover">
    <div class="top"><h1>Nordic MotorHome Rental System V.03</h1></div>
</div>
<div class="centeredLeft">
    <form class="button button1" action="/createCustomer">
        <input type="submit" value="Create Customer" />
    </form>
</div>
<div class="centered">
    <form class="button button1" action="/createCustomer">
        <input type="submit" value="Existing Customer" />
    </form>
</div>
<div class="centeredRight">
    <form class="button button1" action="/createCustomer">
        <input type="submit" value="End Reservation" />
    </form>
</div>
</body>
</html>
