<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accessories</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
        <div  th:insert="fragments/top_menu"></div>
        <div class="bg">
             <form class="forms" action="#" th:action="@{/createcustomer}" th:object="${createCustomer}"
                  method="post">
                 <br>
                 <br>
                 <label for="customerName">Fulde navn</label>
                 <input type="text" th:field="*{customerName}" name="customerName" id="customerName"
                        pattern="[A-Za-z]{1,15}( )[A-Za-z]{1,15}||[A-Za-z]{1,15}( )[A-Za-z]{1,15}( )[A-Za-z]{1,15}"
                        placeholder="eks. Jens Jensen"
                        title="Fulde navn skal indsættes, maks 3 navne. æ,ø,å er ikke brugbart i denne version(.)"
                        required /><br><br>

                 <label for="address">Addresse</label>
                 <input type="text" th:field="*{address}" name="address" id="address"
                        pattern="[A-Za-z]{1,50}( )[0-9]{0,1000}"
                        placeholder="eks. Sommervej 1"
                        title="Indsæt gyldig adresse i tekstfeltet. eks. Sommervej 1. æ,ø,å er ikke brugbart i denne version(.)"
                        required /><br><br>

                 <label for="zipCode">Postnummer & By</label>
                 <input type="text" th:field="*{zipCode}" name="zipCode" id="zipCode"
                        pattern="[0-9]{4,4}( )[A-Za-z]{1,51}"
                        placeholder="eks. 2500 Valby"
                        title="Indsæt gyldigt postnummer i tekstfeltet. eks. 2500 Valby. æ,ø,å er ikke brugbart i denne version(.)"
                        required /><br><br>

                 <label for="phone">Telefon</label>
                 <input type="text" th:field="*{phone}" name="phone" id="phone"
                        pattern="[0-9]{8,8}"
                        placeholder="eks. 12345678"
                        title="Feltet skal udfyldes med et 8 cifret nummer med tallende fra 0-9(.)"
                        required /><br><br>

                 <label for="email">E-mail</label>
                 <input type="text" th:field="*{email}" name="email" id="email"
                        placeholder="eks. eks@NMR.dk"
                        title="Indsæt gyldig e-mail adresse i tekstfeltet. æ,ø,å er ikke brugbart i denne version(.)"
                        required/><br><br>

                 <label for="customerType">Erhverv</label>
                 <input type="checkbox" name="customerType" id="customerType" /><br><br>

                 <input type="submit" class="btn-ed" value="Opret">
                 <input type="reset" class="btn-ed" value="Fortryd">
              </form>
        </div>
</body>
</html>
