<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallcustomers</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<div>
    <table>

    <tr th:each="customer : ${viewCustomers}">
        <td th:text="${customer.CustomerName}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.zipCode}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.customerType}"></td>
        <td><a th:href="@{/customer/findesinglecustomer(id=${customer.CustomerId})}"><button class="btn-create">Details</button></a>
            <a th:href="@{/customer/updatecustomer(id=${customer.CustomerId})}"><button class="btn-ed">Update</button></a>
            <a th:href="@{/customer/deletecustomer(id=${customer.CustomerId})}"><button class="btn-del">Delete</button></a>
        </td>
    </tr>
    </table>
</div>



</body>
</html>