<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallcustomers</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

<div>
    <table>

        <br>
        <br>
    <tr th:each="customer : ${viewCustomers}">
        <td th:text="${customer.CustomerName}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.zipCode}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.customerType}"></td>
        <td><a th:href="@{/findsinglecustomer(id=${customer.CustomerId})}"><button class="btn-create">Details</button></a>
            <a th:href="@{/updatecustomer(id=${customer.CustomerId})}"><button class="btn-ed">Update</button></a>
            <a th:href="@{/deletecustomer(id=${customer.CustomerId})}"><button class="btn-del">Delete</button></a>
        </td>
    </tr>
    </table>
</div>


</div>
</body>
</html>