<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createaccessory</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="bg">
    <form class="forms" action="#" th:action="@{/createaccessory}" th:object="${createAccessory}"
          method="post">
        <br>
        <br>

        <label for="accessoryType">Type</label>
        <input type="text" th:field="*{accessoriesType}" name="accessoryType" id="accessoryType" /><br><br>
        <label for="price">Pris pr uge</label>
        <input type="text" th:field="*{price}" name="price" id="price" /><br><br>
        <input type="submit" class="btn-ed" value="Opret">
        <input type="reset" class="btn-ed" value="Fortryd">
    </form>
</div>
</body>
</html>