<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createaccessory</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="bg">
    <form class="forms" action="#" th:action="@{/createaccessory}" th:object="${createAccessory}"
          method="post">
        <br>
        <br>


        <label for="accessoryType">Type</label>
        <input type="text" th:field="*{accessoryType}" name="accessoryType" id="accessoryType" pattern="[A-Za-z]{1,25}"
               title="Indsæt navnet på genstanden der skal oprettes(.)" required/><br><br>
        <label for="price">Pris pr uge</label>
        <input type="text" th:field="*{price}" name="price" id="price" pattern="[0-9\d\.]{1,5000}" title="Indsæt en pris for tilbehøret(.)"
               required /><br><br>
        <input type="submit" class="btn-ed" value="Opret">
        <input type="reset" class="btn-ed" value="Fortryd">
    </form>
</div>
</body>
</html>