<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deleteaccessory</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

    <Form th:action="@{deleteaccessory}" method="post">
        <br>
        <br>
        <input type="hidden" name="id" th:value="${accessories.accessory_id}"/>
        <p th:text="${accessories.accessoryType}"></p>
        <p th:text="${accessories.price}"></p>
        <input type="submit"value="Delete accessory"/>

    </Form>
</div>
</body>
</html>