<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallaccessories</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>



    <div class="bg">
     <div>
         <table>

              <br>
             <br>
            <tr th:each="accessories : ${viewAccessories}">
                <td th:text="${accessories.accessoryType}"></td>
                <td th:text="${accessories.price}"></td>

            <td>
                <a th:href="@{/updateaccessery(id=${accessories.accessory_id})}"><button class="btn-ed">Update</button></a>
                <a th:href="@{/deleteaccessory(id=${accessories.accessory_id})}"><button class="btn-del">Delete</button></a>
            </td>
          </tr>
          </table>
        </div>
    </div>
</body>
</html>