<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updateaccessory</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

    <form class="forms" action="#" th:action="@{/updateaccessery}" th:object="${accessories}"
          method="post">

        <br>
        <br>
        <label for="accessoryType">Type</label>
        <input type="text" th:field="*{accessoryType}" name="accessoryType" id="accessoryType"
               pattern="[A-Za-z]{1,25}( )[A-Za-z]{1,25}"
               placeholder="eks. Kuglegril"
               title="Indsæt navnet på genstanden der skal oprettes. æ,ø,å er ikke brugbart i denne version(.)(.)"
               required/><br><br>
        <label for="price">Pris pr uge</label>
        <input type="text" th:field="*{price}" name="price" id="price"
               pattern="[0-9\d\.]{1,}"
               placeholder="eks. 75"
               title="Indsæt en pris for tilbehøret(.)"
               required /><br><br>
        <input type="submit" class="btn-ed" value="Update">
    </form>
</div>
</body>
</html>