<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="fragments/top_menu"></div>

<div class="bg">

    <br>
    <br>

<form class="forms" action="#" style="position: absolute" th:action="@{/savemotorhome}" th:object="${motorhome}"
      method="post">
    <label for="fname">licensePlateNo</label>
    <input type="text" th:field="*{licensePlateNo}" name="fname" id="fname" /><br><br>
    <label for="lname">model</label>
    <input type="text" th:field="*{model}" name="lname" id="lname" /><br><br>
    <label for="enroll">beds</label>
    <input type="text" th:field="*{beds}" name="enroll" id="enroll" placeholder='yyyy-mm-dd'/><br><br>
    <label for="fname">kilometers</label>
    <input type="text" th:field="*{kilometers}" name="fname" id="fname1" /><br><br>
    <label for="fname">price</label>
    <input type="text" th:field="*{price}" name="fname" id="fname2" /><br><br>
    <label for="fname">engineBlockNo</label>
    <input type="text" th:field="*{engineBlockNo}" name="fname" id="fname3" /><br><br>
    <input type="submit" class="btn-create-form" value="Create">
</form>
</div>
</body>
</html>