<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findesinglemotorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>


<div class="bg">
    <Form th:action="@{/}" method="request">
        <br>
        <br>
        <input type="hidden" name="id" th:value="${motorhome.engineBlockNo}"/>
        <p th:text="${motorhome.licensePlateNo}"></p>
        <p th:text="${motorhome.model}"></p>
        <p th:text="${motorhome.beds}"></p>
        <p th:text="${motorhome.kilometers}"></p>
        <p th:text="${motorhome.price}"></p>
        <p th:text="${motorhome.engineBlockNo}"></p>
        <p th:text="${motorhome.accessible}"></p>
        <input type="submit"value="Done"/>

    </Form>
</div>
</body>
</html>