<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seeallmotorhomes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="bg">

         <div>
             <table>

                  <br>
                   <br>
                  <tr th:each="motorhome : ${autocamper}">
                    <td th:text="${motorhome.Model}"></td>
                    <td th:text="${motorhome.Beds}"></td>
                    <td th:text="${motorhome.Kilometers}"></td>
                    <td th:text="${motorhome.Price}"></td>
                    <td th:text="${motorhome.EngineBlockNo}"></td>

                    <td><a th:href="@{/findesinglemotorhome(id=${motorhome.engineBlockNo})}"><button class="btn-create">Details</button></a>
                        <a th:href="@{/updatemotorhome(id=${motorhome.engineBlockNo})}"><button class="btn-ed">Update</button></a>
                        <a th:href="@{/deletemotorhome(id=${motorhome.engineBlockNo})}"><button class="btn-del">Delete</button></a>
                    </td>
                   </tr>
              </table>
         </div>

</div>
</body>
</html>