<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updatemotorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="bg">

    <form class="forms" action="#" th:action="@{/updatemotorhome}" th:object="${autocamper}"
          method="post">

        <br>
        <br>
        <label for="model">Model</label>
        <input type="text" th:field="*{model}" name="model" id="model" /><br><br>
        <label for="beds">Antal senge</label>
        <input type="text" th:field="*{beds}" name="beds" id="beds" /><br><br>
        <label for="kilometers">Km</label>
        <input type="text" th:field="*{kilometers}" name="kilometers" id="kilometers" /><br><br>
        <label for="price">Pris pr uge</label>
        <input type="text" th:field="*{price}" name="price" id="price" /><br><br>
        <label for="engineBlockNo">Motorblok nr</label>
        <input type="text" th:field="*{engineBlockNo}" name="engineBlockNo" id="engineBlockNo" /><br><br>
        <label for="accessible">Tilgængelig</label>
        <input type="text" th:field="*{accessible}" name="accessible" id="accessible" /><br><br>
        <input type="submit" class="btn-ed" value="Update">
    </form>
</div>
</body>
</html>