<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updatemotorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div th:insert="fragments/top_menu"></div>
<div class="bg">

    <form class="forms" action="#" th:action="@{/updatemotorhome}" th:object="${autocamper}"
          method="post">

        <br>
        <br>
        <label for="licensePlateNo">Nummerplade</label>
        <input type="text" th:field="*{licensePlateNo}" name="licensePlateNo" id="licensePlateNo"
               pattern="[A-Z]{2,2}( )[0-9]{5,5}"
               placeholder="eks. AA 12345"
               title="Opret nummerpladen på det enkelte køretøj. eks. AA 12345(.)"
               required/><br><br>

        <label for="model">Model</label>
        <input type="text" th:field="*{model}" name="model" id="model"
               pattern="[A-Ha-h]{1,1}"
               placeholder="eks. C"
               title="Indsæt modellen for det valgte køretøj A-H. Bogstaver uden for scoped accepteres ikke(.)"
               required/><br><br>

        <label for="beds">Antal senge</label>
        <input type="text" th:field="*{beds}" name="beds" id="beds"
               pattern="[0-9]{0,6}"
               placeholder="eks. 4"
               title="Vælg antal sengepladser: 2,4 eller 6(.)"
               required /><br><br>

        <label for="accessible">Tilgængelig</label>
        <input type="text" th:field="*{accessible}" name="accessible" id="accessible"
               pattern="[A-Za-z]{2,3}"
               placeholder="eks. YES"
               title="Indsæt YES/NO. æ,ø,å er ikke brugbart i denne version(.)(.)"
               required/><br><br>

        <label for="kilometers">Km</label>
        <input type="text" th:field="*{kilometers}" name="kilometers" id="kilometers"
               pattern="[0-9\.]{0,}"
               placeholder="eks. 2000"
               title="Antal kilometer køretøjet har kørt, vælg et heltal.(.)"
               required /><br><br>

        <label for="price">Pris pr uge</label>
        <input type="text" th:field="*{price}" name="price" id="price"
               pattern="[0-9\.]{0,}"
               placeholder="eks. 450"
               title="Indsæt en dagspris på køretøjet. Vælg et heltal(.)"
               required /><br><br>

        <label for="engineBlockNo">Motorblok nr</label>
        <input type="text" th:field="*{engineBlockNo}" name="engineBlockNo" id="engineBlockNo"
               pattern="[0-9]{0,}"
               placeholder="eks. 123456789"
               title="Serienummeret må kun bestå af tal fra 0-9(.)"
               required /><br><br>

        <input type="submit" class="btn-ed" value="Update">
    </form>
</div>
</body>
</html>